body{
    margin: 0;
    padding: 0;  
    background-color: #111;
}
.app{
    
    z-index: 1;
    position: relative; 
}
.nav_banner{
    /* Centers the background image within the container */
    
    background-color: #111;
    color: white;
   
}
